body {
	margin: 6 em;
	background-image:url("rain-transparent-animated-gif-5.gif");
	font-family: 'Fira Sans Condensed', sans-serif;
}
h1 {
	color: #0935a0;
	font-size: 5rem;
	font-weight: bold;
	line-height: -4em;
	text-transform: uppercase;

}
h2 {
	color: #0935a0;
	font-size: 2em;
	font-weight: bold;
	line-height: -1rem;

}
h3{
	text-transform: uppercase;
}

li {
	font-size: 1.5em;
}

p{
	font-size: 15px;
	line-height: 1.5em;
}

.lead-in {
	line-height: 2em;
}
.secondary{
	font-style: italic;
}

#callout {
	color: green;
}