body {
	margin: 6 em;
	font-family: verdana; 
}
h1 {
	color: #0935a0;
	font-size: 5em;
	font-family:;
	font-weight: bold;
	line-height: 0.5em;
}
h2 {
	color: #0935a0;
	font-size: 2em;
	font-weight: bold;
}

li {
	font-size: 1.5em;
}

p{
	font-size: 15px;
	line-height: 1.5em;
}

.lead-in {
	line-height: 2em;
}
.secondary{
	font-style: italic;
	font-family: Georgia
}

#callout {
	color: green;
}